html, body, header, p, ul, h1, h2, h3, h4, h5 {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  height: 800px;
  background-color: yellow;
  display: flex;
  flex-direction: column;
}

nav {
  height: 100px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

nav li {
  margin-left: 30px;
  margin-right: 30px;
}

#logo {
  margin-right: 750px;
}

a {
  text-decoration: none;
  list-style-type: none;
}

section.content {
  height: 800px;
  background-color: pink;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section.dates {
  height: 600px;
  width: 250px;
  background-color: orange;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section.dates .main-category {
  height: 200px;
  width: 230px;
  background-color: red;
  margin-bottom: 20px;
  margin-left: 10px;
}

section.dates .subcategory {
  height: 100px;
  width: 230px;
  background-color: purple;
  margin-bottom: 10px;
  margin-left: 10px;
}

/*section.current-dashboard {
  height: 400px;
  background-color: green;
  overflow: scroll;
}

section.dropdown {
  height: 30px;
  background-color: purple;
}*/

section.block-container {
  height: 600px;
  width: 1000px;
  background-color: red;
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;*/
  display: flex;
  justify-content: center;
}

section.planning {
  height: 400px;
  width: 900px;
  background-color: blue;
  display: flex;
  justify-content: space-around;
}

section.calendar {
  height: 800px;
  width: 1000px;
}

section.calendar .month {
  height: 60px;
  width: 1000px;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

section.calendar .month ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

section.calendar .weekdays ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-right: 40px;
}

section.calendar .days ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 40px;
}

section.calendar .days ul li {
 height: 95px;
 width: 120px;
 background-color: orange;
 flex-grow: 1;
 border: solid black 1px;
}
